@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");

:root {
  /* Font names */
  --MPCL: "M Plus Code Latin";
  --Inter: "Inter";

  /* Color palette */
  --main-color: #fff;
  --text-color: #02091b;
  --accent-color: #87b800;
  --accent-hover-color: #ff5747;
  --secondary-color: #5158bb;
  --secondary-hover-color: #6c72c6;

  /* Font sizes */
  --h1-size: 48.83px;
  --h2-size: 39.06px;
  --h3-size: 31.25px;
  --p-size: 16px;

  font-family: var(--Inter);
  background-color: var(--main-color);
}
