@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");

:root {
  /* Font names */
  --Inter: "Inter";
  --MPCL: "M Plus Code Latin";

  /* Color palette */
  --main-color: #fff;
  --text-color: #02091b;
  --accent-color: #87b800;
  --accent-hover-color: #96cc00;
  --secondary-color: #5158bb;
  --secondary-hover-color: #6c72c6;

  /* Font sizes */
  --h1-size: 3.052rem;
  --h2-size: 2.441rem;
  --h3-size: 1.953rem;
  --p-size: 1rem;

  font-size: 16px;
  scroll-behavior: smooth;
  font-family: var(--Inter);
  background-color: var(--main-color);
}

@media all and (max-width: 2560px) {
  :root {
    font-size: 24px;
  }
}

@media all and (max-width: 1920px) {
  :root {
    font-size: 18px;
  }
}

@media all and (max-width: 1367px) {
  :root {
    font-size: 14px;
  }
}
