.navbar {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
  width: max-content;
  height: 40px;
  border-radius: 24px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.3);
}

.navbar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  height: 100%;
}

.navbar__item {
  margin: 0;
  padding: 0;
  height: 100%;
  transition: 0.3s ease;
  position: relative;
}

.navbar__link {
  display: flex;
  height: 100%;
  align-items: center;
  color: var(--text-color);
  margin: 0;
  padding: 0 15px;
  text-decoration: none;
  font-size: var(--p-size);
  transition: 0.2s ease;
  border-radius: 24px;
}

.navbar__link_active {
  color: white;
}

.navbar__link-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  border-radius: 24px;
  z-index: -1;
  background-color: var(--accent-color);
}

.navbar__link:hover {
  opacity: 0.5;
}

.navbar__item:has(.navbar__link-background) .navbar__link:hover {
  opacity: 1;
}
