.navbar {
  background-color: var(--secondary-color);
  width: 450px;
  height: 40px;
  padding: 0 40px;
  overflow: hidden;
  border-radius: 24px;
}

.navbar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}

.navbar__item {
  margin: 0;
  padding: 0 15px;
  height: 100%;
  border-radius: 24px;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

.navbar__link {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navbar__item:has(.navbar__link:hover) {
  background-color: var(--highlight-light-color);
}
