.intro {
  width: 90%;
  max-width: 1440px;
  min-height: 200vh;
}

.intro__container {
  color: var(--text-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    "info skills"
    "scroll skills";
  margin: 0 auto;
  padding: 60px 0;
  align-items: center;
  box-sizing: border-box;
}

.intro__info {
  grid-area: info;
}

.intro__greeting {
}

.intro__brief {
}

.intro__scroll {
  grid-area: scroll;
}
