.contacts {
  padding: 3.75rem; /*60px*/
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__title {
  font-size: var(--h2-size);
  margin-bottom: 3.75rem; /*60px*/
  color: var(--main-color);
  padding: 0.75rem 1.5rem; /*12px 24px*/
  border-radius: 1.5rem; /*24px*/
  background-color: var(--accent-color);
  font-family: var(--MPCL), var(--Tektur);
}

.contacts__list {
  padding: 0;
  margin: auto;
  list-style: none;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  /* grid-template-areas:
    " ... hh ... "
    " whatsapp main telegram "
    " ... linkedin ... "; */
  grid-template-areas: " hh linkedin telegram  whatsapp";
}

.contacts__contact {
  height: 4rem; /*64px*/
  width: 4rem; /*64px*/
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-size: 2.5rem; /*40px*/
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: 0.3s ease;
  box-shadow: 0px 0.125rem 0.25rem 0px rgba(0, 0, 0, 0.5); /*0px 2px 2px 0px*/
}

.contacts__contact:hover {
  scale: 1.2;
  cursor: pointer;
  background-color: var(--secondary-hover-color);
}

.contacts__contact_type_main {
  grid-area: main;
  width: 8rem; /*128px*/
  height: 8rem; /*128px*/

  background-image: url("../../../public/email-icon.svg");
}

.contacts__contact_type_hh {
  grid-area: hh;
  background-image: url("../../../public/hh-icon.svg");
}
.contacts__contact_type_linkedin {
  grid-area: linkedin;
  background-image: url("../../../public/linkedin-icon.svg");
}
.contacts__contact_type_telegram {
  grid-area: telegram;
  background-image: url("../../../public/tg-icon.svg");
}
.contacts__contact_type_whatsapp {
  grid-area: whatsapp;
  background-image: url("../../../public/whatsapp-icon.svg");
}

.contacts__link {
  height: 100%;
  width: 100%;
}

.contacts__button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
}

@media all and (max-width: 450px) {
  .contacts {
    padding: 1.75rem; /*60px*/
  }
}
