.contacts {
  padding: 3.75rem; /*60px*/
  box-sizing: border-box;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__title {
  font-size: var(--h2-size);
  margin-bottom: 3.75rem; /*60px*/
}

.contacts__list {
  padding: 0;
  margin: auto;
  list-style: none;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  /* grid-template-areas:
    " ... hh ... "
    " whatsapp main telegram "
    " ... linkedin ... "; */
  grid-template-areas: " hh telegram linkedin whatsapp";
}

.contacts__contact {
  height: 4rem; /*64px*/
  width: 4rem; /*64px*/
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-size: 2.5rem; /*40px*/
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: 0.3s ease;
}

.contacts__contact:hover {
  scale: 1.2;
  cursor: pointer;
  background-color: var(--secondary-hover-color);
}

.contacts__contact_type_main {
  grid-area: main;
  width: 8rem; /*128px*/
  height: 8rem; /*128px*/

  background-image: url("../../../public/email-icon.svg");
}

.contacts__contact_type_hh {
  grid-area: hh;
  background-image: url("../../../public/hh-icon.svg");
}
.contacts__contact_type_linkedin {
  grid-area: linkedin;
  background-image: url("../../../public/linkedin-icon.svg");
}
.contacts__contact_type_telegram {
  grid-area: telegram;
  background-image: url("../../../public/tg-icon.svg");
}
.contacts__contact_type_whatsapp {
  grid-area: whatsapp;
  background-image: url("../../../public/whatsapp-icon.svg");
}

.contacts__link {
  height: 100%;
  width: 100%;
}

.contacts__button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
}
